.grid-row {
  display: flex;
  flex-direction: row;


}

@media only screen and (max-width: 767px) {
  .grid-row {
    display: flex;

    flex-direction: column;
  }

}

.mini-grid-row {
  display: flex;
  flex-direction: row;
  align-items: end;
}

.mini-grid-margin {
  margin-left: 1rem;
}

.mini-grid-item-center {
  align-self: center;
}